html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #444;
}

.main_photo {
  width: 50%;
  border-radius: 50%;
  margin-top: 25%;
}

.about_me {
  font-size: 24px;
  margin: 20% 5% 10% 5%;
}

.page {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
